@{
  Layout = "_Layout";
}

<h1>About Pierre</h1>

<h4>Pierre is the OG of Treats</h4>

<h2>Contact Pierre</h2>

<p>By <a href="mailto:pierre@food.com">Email</a><p>

<p>On <a href="instagram.com/pierres">Instagram</a><p>