@{
  Layout="_Layout";
}

<h1>Pierre treats</h1>

@if(User.Identity.IsAuthenticated)
{
  <p>@Html.ActionLink("Treats","Index","Treats")</p>
  <p>@Html.ActionLink("Flavors","Index","Flavors")</p>
  <p>@Html.ActionLink("Create or Manage Account","Index", "Account")</p>
}
else
{
  <p>@Html.ActionLink("Create or Manage Account","Index", "Account")</p>
}