@{
  Layout="_Layout";
}

@model PierreTreats.Models.Treat

<h1>Delete Treat</h1>

@using(Html.BeginForm())

  @Html.DisplayNameFor(model => model.TreatType) : @Html.DisplayFor(model => model.TreatType)
 
  <br/>
  <input type="submit" value="Delete Treat" />


<p>@Html.ActionLink("Back to Flavors List", "Index")</p>
<p>@Html.ActionLink("Treats List", "Index", "Treats")</p>