@{
  Layout="_Layout";
}

@using PierreTreats.Models;

<h1>Treats</h1>

@if(@Model.Count == 0)
{
  <h3>Add a Treat</h3>
}
else
{
  <ul>
    @foreach (Treat treat in @Model)
    {
      <li>@Html.ActionLink($"{treat.TreatType}", "Details", new{ id = treat.TreatId})</li>
    }  
  </ul>
}

<p>@Html.ActionLink("Adda  new Treat", "Create") | @Html.ActionLink("Home", "Index", "Home")</p>
